<h2>CEMPA TESTING APPLICATION - STATIC IMAGES</h2>
<main>
  <div id="ol-map" class="map-container">
    <div class="layers">
      {{selectedGroupLayers.slice(0 , -1) }}
      <p-dropdown [options]="groupLayers" [(ngModel)]="selectedGroupLayers" optionLabel="label" optionValue="value" (onChange)="onChange($event)"></p-dropdown>
    </div>
    <div class="img-legend">
      <span>
        <img [src]="'https://cempadev.lapig.iesa.ufg.br/service/static/bar/' +getDateOnly(selectedLayersMap[date])+ '.png'">
      </span>
    </div>
  </div>
</main>
<h5 *ngIf="selectedGroupLayers">Data: {{formatDate(selectedLayersMap[date]) | date:'dd/MM/yyyy HH:mm'}}</h5>
<div class="slider">
  <p-slider [(ngModel)]="date" (onChange)="onDateChange($event)" [min]="0" [max]="selectedLayersMap.length - 1"></p-slider>
</div>

<div class="controls">
  <button pButton pRipple (click)="play()" type="button" icon="pi pi-play" class="p-button-rounded p-button-secondary"></button>
  <button pButton pRipple  (click)="stop()" type="button" icon="pi pi-stop" class="p-button-rounded p-button-danger"></button>
</div>

<p-dialog header="Ponto Selecionado" [(visible)]="display">
  <h4>{{coordinate}}</h4>
</p-dialog>
